*{
    margin: 0;
    padding: 0;
    color: white;
}

@font-face {
    font-family: SAHAR-REGULAR;
    src: url("./fonts/SAHAR-REGULAR.woff");
}
@font-face {
    font-family: SAHAR-BOLD;
    src: url("./fonts/SAHAR-BOLD.woff");
}
@font-face {
    font-family: SAHAR-HEAVY;
    src: url("./fonts/SAHAR-HEAVY_0.woff");
}
@font-face {
    font-family: SAHAR-THIN;
    src: url("./fonts/SAHAR-THIN.woff");
}

body{
    background-image: url("./img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    padding-left: 20vw;
    padding-right: 20vw;
}

#topSection{
    height: 24vh;
    padding-top: 6vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#infSection{
    height: 24vh;
    padding-top: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#texto2{
    display:none;
}

a{
    border: white solid 3px;
    font-family: "SAHAR-REGULAR";
    font-size: 2em;
    width: 28vw;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-align: center;
    text-decoration: none;
}

a:hover{
    background-color: rgba(255, 255, 255, 0.322);
}

a:hover #texto2{
    display: block;

}

a:hover #texto1{
    display:none;
}

#infoBoton{
    font-family: "SAHAR-REGULAR";
    font-size: 1em;
}

h1{
    font-family: "SAHAR-THIN";
    font-size: 3em;
}

b{
    font-family: "SAHAR-BOLD";
}

#topText{
    padding-left: 5vw;
    font-family: "SAHAR-REGULAR";
    font-size: 1.3em;
}

#divBoton{
    width: 28vw;
}

@media only screen and (max-width: 1000px) {
    #topSection{
        height: 50%;
        padding-top: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    #infSection{
        height: 30%;
        padding-top: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    h1{
        font-family: "SAHAR-THIN";
        font-size: 5vh;
        text-align: center;
    }
    #topText{
        padding-left: 0vw;
        font-family: "SAHAR-REGULAR";
        font-size: 2vh;
        text-align: center;
    }

    a{
        border: white solid 3px;
        font-family: "SAHAR-REGULAR";
        font-size: 3vh;
        width: 80vw;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        text-align: center;
        text-decoration: none;
    }
    #imgLogo{
        height: 10vh;
    }
  }